$primary: #005cbc;
$secondary: #70b1c5;
$error: #D40020;
$info: #aad2e2;
$warning: #ffbf1c;
$th-color: #FBFCFE;
$disabled: #d0d0d0;
$white: #fff;
$black: #000;
$t-5: #616161;
$card-title: #242424;
$dovegray: #686868;
$mineshaft: #3a3a3a;
$gray: #818181;
$stiletto: #91313c;
$dnd-bg: #f1f2f7;
$bg: #f5f5f5;
$success: #008553;
$success-light: #CCE7DD;
$dnd-hover: #dfdfe7;